p {
    font-family: 'Tilt Neon';
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Tilt Neon';
}

.menu-button {
    background-color: #9e9200;
    color: white;
    font-size: 20px;
    font-weight: bold;  
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: opacity 0.25s; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.menu-button:hover {
    opacity: 0.8;
}

.menu-button:active {
    opacity: 0.65;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


body {
    background-color: #123524;
}   

.h1 {
    font-size: 30px;
    color: white;
    text-align: center;
}
